/* Sajeel Malik
style.css

Color Theme: 
#FCE575 (Gold) 
#ED254E (Magenta)
#F4FFFD (Light Gray)
#6C756B (Dark Gray)
#3943B7 (Blue) */

/* body{
  min-height: 100%;
  align-items: center;
  justify-content: center 
} */

#navbar{
  display: none;
}
.uk-navbar-transparent{
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}
.uk-logo{
  font-family: 'Montserrat Subrayada', sans-serif;
}


.introduction{
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.radial-gradient {
  position:absolute;
  top:0px;
  left:0px;
  height:100vh;
  width:100%;
  z-index: -1;
  overflow: hidden;
  
  /*Fallback if gradients don't work */
  background: #f8f0cd;
  /*Linear gradient... */
  background: 
    radial-gradient(
     at center, #f5f5f5, #f8f0cd
    );
}

h1{
  font-family: 'Oswald', sans-serif;
  text-align: center;
  font-size: 64px;
  letter-spacing: 3px;
}

h2, h3, th, ul, p{
  font-family: 'Montserrat', sans-serif;
}

td{
  padding: 5px;
}

.title{
  margin: 17% 0 30px 0;
  position: relative;
  /* top: 15%; */
  height: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title h1{
  width: 40%;
  font-family: 'Oswald', sans-serif;
  text-align: center;
  font-size: 72px;
  letter-spacing: 4px;
  color: rgb(91, 90, 104);
  cursor: cell;
  transition: 1.5s ease;

  /* font-weight: bold; */
}

.title h1:hover{
  color: rgb(43, 43, 49);
  text-shadow: 1px 1px 1px 1px rgb(96, 96, 104);
  /* background-color: #ffe880; */
}

.title h1::selection {
  background: #ffe880; /* WebKit/Blink Browsers */
  text-transform: uppercase;
}

.name {
  position: relative;
  display: inline-block;
  transition: color 0.2s ease;
}

.name::after, .name::before {
  content: "";
  position: absolute;
  width: 0;
  right: 0;
  height: 20px;
  bottom: -28px;
  z-index: -1;
}

.name:hover::after, .name:hover::before {
  display: block;
  width: 100%;
  left: 0;
  bottom: -28px;
}

#sajeel::before{
  -webkit-transition: width 0.6s cubic-bezier(0.51, 0.18, 0, 0.88) 0.1s;
  background: #fce995;
}

#sajeel::after {
  /* transition: width 0.2s cubic-bezier(0.29, 0.18, 0.26, 0.83); */
  -webkit-transition: width 0.4s cubic-bezier(0.29, 0.18, 0.26, 0.83);
  background: #ffe880;
}

.bio{
  display: none;
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6em;
  line-height: 2.3em;
  margin: 0 40% 0 10%;
  padding-top: 20px;
  transition: 1s ease;
}

.bio p::selection {
  background: #ffe880; /* WebKit/Blink Browsers */
  text-transform: uppercase;
}

#loading {
  position: relative;
  margin: auto;
  margin-bottom: 15px;
  width: 20px;
  height: 20px;
  background-color: transparent;
  transition: 0.5s ease;
}

#box-animation {
  position: absolute;
  margin: auto;
  margin-bottom: 15px;
  width: 20px;
  height: 20px;
  background-color: #ffe880;
  transition: 0.5s ease;
}

.portfolio{
  position: relative;
  display: none;
  width: 100%;
  height: 100%;
}

#portfolio{
  text-align: left;
  width: 80%;
  margin-bottom: 40px;

}

#portfolio::selection{
  background: #3943B7
}

.second-screen {
  position: relative;
  display: inline-block;
  transition: color 0.2s ease;
}

.second-screen::after, .second-screen::before {
  content: "";
  position: absolute;
  width: 0;
  right: 0;
  height: 20px;
  bottom: -28px;
  z-index: -1;
}

.second-screen:hover::after, .second-screen:hover::before {
  display: block;
  width: 100%;
  left: 0;
  bottom: -28px;
}

#portfolio::before{
  -webkit-transition: width 0.6s cubic-bezier(0.51, 0.18, 0, 0.88) 0.1s;
  background: rgb(111, 117, 189);
}

#portfolio::after {
  /* transition: width 0.2s cubic-bezier(0.29, 0.18, 0.26, 0.83); */
  -webkit-transition: width 0.4s cubic-bezier(0.29, 0.18, 0.26, 0.83);
  background: #3943B7;
}

.project {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
  margin: 0 auto;
  width: 80%;
  height: auto;
  max-width: 1200px;
}


.col {
  padding: 2% .5%;
  padding-bottom: 20%;
  height: auto;
}

.col2 {
  padding: 2% .5%;
  height: auto;
  width: 75%;
}

.project-description {
  font-size: 16px;
  position: relative;
  top: 50%;
  /* transform: translateY(-50%); */
}


.project-title {
  font-family: 'Oswald', sans-serif;
  padding: 3% 0;
  position: relative;
  font-size: 34px;
}

.uk-button:hover{
  background-color: rgb(57, 67, 183);
  color: white;
  transition: 0.5s ease;  
}

.uk-button:active{
  background-color: rgba(57, 67, 183, 0.712);
  color: white;
  transition: 0.3s ease;  
}

.blurb {
  font-family: 'Montserrat', sans-serif;
  line-height: 2em;
  margin-bottom: 5%;
  padding: 20px 0;
  font-size: 20px;
}

.project-title::selection, .blurb::selection{
  background: #3943B7
}

.grid-img {
  position: relative;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}

.enlarge-image{
  cursor: zoom-in;
}


.liner{
  display: none;
  position: relative;
  z-index: 2;
  color:  #ffe880;
}

.social-buttons{
  margin: auto;
  position: relative;
  display: flex;
  width: 30%;
  align-items: center;
  justify-content: space-evenly;
}

.fa-linkedin, .fa-github, .fa-instagram, .fa-medium{
  color: rgb(143, 142, 142);
  transition: 0.3s ease-out;
  /* text-shadow: 0.5px 0.5px 0.5px rgb(149, 149, 156); */
}

.fa-linkedin:hover {
  color: rgb(47, 101, 218);
  /* transition: 0.3s ease; */
  font-size: 54px;
  text-shadow: 0.5px 0.5px 0.5px rgb(47, 101, 218);

}

.fa-github:hover {
  color: black;
  /* transition: 0.3s ease; */
  font-size: 54px;
  text-shadow: 0.5px 0.5px 0.5px black;
}

/* .fa-instagram:hover {
  background-color: linear-gradient(to top right, #ff6600 0%, #ff66ff 100%);
  transition: 0.3s ease;
} */

/* add hover gradient to instagram */
.fa-instagram:hover {
	background: -webkit-gradient(linear, left bottom, left top, from(#ff6600), to(#ff66ff));
	-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* transition: 0.3s ease; */
  font-size: 56px;
  /* text-shadow: 0.5px 1.5px 0.5px #ff66ba7c; */

}

.fa-medium:hover {
  color: black;
  /* transition: 0.3s ease; */
  font-size: 54px;
  text-shadow: 0.5px 0.5px 0.5px black;
}

#footer{
  margin: 20px 0 20px 0;
  display: none;
  /* background-color: #F4FFFD; */
}

#contact{
  font-family: 'Oswald', sans-serif;
  text-align: center;
  align-content: center;
  font-size: 54px;
  letter-spacing: 2px;
  display: block;
}

.contact-ani {
  position: relative;
  display: inline-block;
  transition: color 0.2s ease;
}

.contact-ani::after, .contact-ani::before {
  content: "";
  position: absolute;
  width: 0;
  right: 0;
  height: 20px;
  bottom: -40px;
  z-index: -1;
}

.contact-ani:hover::after, .contact-ani:hover::before {
  display: block;
  width: 100%;
  left: 0;
  bottom: -40px;
}

#contact::before{
  -webkit-transition: width 0.6s cubic-bezier(0.51, 0.18, 0, 0.88) 0.1s;
  background: rgb(168, 240, 148);
}

#contact::after {
  /* transition: width 0.2s cubic-bezier(0.29, 0.18, 0.26, 0.83); */
  -webkit-transition: width 0.4s cubic-bezier(0.29, 0.18, 0.26, 0.83);
  background: rgb(125, 219, 99);
}



  /* media queries */

@media only screen and (max-width: 1024px) {
    .social-buttons{
      width: 45%;
    }
    #name{
      width: 50%;
    }
    
}

@media only screen and (max-width: 768px) {
  .social-buttons{
    width: 60%;
  }
  #name{
    width: 65%;
  }
}

@media only screen and (max-width: 426px) {
  .title{
    margin-bottom: 50px;
    width: 100%;
  }
  .title h1{
    font-size: 80px;
    letter-spacing: 8px;
    /* font-weight: bold; */
  }
  .social-buttons{
    width: 80%;
  }
  #name{
    width: 85%;
  }
}
