/* body{
  height: 10em;
  display: flex;
  align-items: center;
  justify-content: center 
} */

h1{
  font-family: 'Oswald', sans-serif;
}

h2{
  font-family: 'Montserrat', sans-serif;
}

.landing{
  height: 10em;
  display: flex;
  align-items: center;
  justify-content: center 
}


.social-buttons{
  display: flex;
  align-items: center;
  justify-content: space-evenly;  
}

/* .centered{
    margin: 0 auto;
    text-align: center;
    line-height: 1.5em;
    padding: 40px 0;
  } */